.myButton {
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:linear-gradient(to bottom, #99badb 5%, #82a1bf 100%);
    background-color:#b9d2eb;
    border-radius:4px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color: #ffffff;
    font-family:Times New Roman;
    font-size:21px;
    font-weight:bold;
    padding:8px 80px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:linear-gradient(to bottom, #a0bbd6 5%, #b9d2eb 100%);
    background-color:#a0bbd6;
}
.myButton:active {
    position:relative;
    top:1px;
}


.mainPageTitle {
    font-size: 28px;
    color: #badaf8;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:400px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #012849;
    text-transform: uppercase;
    background-color: #d4cdcd;
    opacity: 0.5;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px;
    margin-bottom: 20px;
    height: 350px;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

