<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add form</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<body>
    <section>
        <div>
            <p class="mainPageTitle">Add a new student</p>
            <form action="@{/add}" th:object="${student}" method="post"></form>
            <table>
                <tr>
                    <td>Student name: </td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>Student's surname</td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>Student's point</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><button type="submit" class="myButton">Submit</button></td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>