<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add form</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <section>
        <div class="container">
            <h2 class="mainPageTitle"><b>Add student</b></h2>
            <!--/*@thymesVar id="student" type="ru.babichev.model.Student"*/-->
            <form action="" method="post" th:object="${student}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname">
                </div>
                <div class="form-group">
                    <label for="point">Point:</label>
                    <input type="text" class="form-control" id="point" placeholder="Enter point" name="point">
                </div>
                <button type="submit" class="myButton" method="post">Add student</button>
            </form>
        </div>
    </section>
</body>
</html>