<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" pageEncoding="UTF-8">
    <title>My app</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>

<body>
    <section>
        <h2 class="mainPageTitle">List of students</h2>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th><b> Id </b></th>
                    <th><b> Name </b></th>
                    <th><b> Surname </b></th>
                    <th><b> Point </b></th>
                    <th>                </th>
                </tr>
                </thead>
                <tbody>
                    <!--/*@thymesVar id="students" type="ru.babichev.model.Student"*/-->
                    <tr th:each="student : ${students}">
                            <td><span th:text="${student.id}"> Id </span></td>
                            <td><span th:text="${student.name}"> name </span></td>
                            <td><span th:text="${student.surname}"> surname </span></td>
                            <td><span th:text="${student.point}"> point </span></td>
                            <td>
                                <form th:action="@{delete}" method="get">
                                <input type="hidden" name="id" th:value="${student.id}" />
                                <input type="submit" value="Delete" class="myButton" />
                                </form>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="filterSortSection">
            <table>
                <tbody>
                    <tr>
                        <td><p class="filtresSort">Filters: </p></td>
                        <td><a href="/students/by">by point</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    </section>
    <section>
        <a href="/create" class="myButton">Add new</a>
    </section>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index.js"></script>
</body>


</html>
